/* this is for top bar */
.heading{
    text-align: center;
    margin-top: 30px;
}

.bottom{
    /* border:1px solid black; */
    width:100%;
    
}
.title{
    display: flex;
    justify-content: space-around;
}
.sort{
    border: 1px solid grey;
    border-radius: 50px;
    height:40px;
    margin-top: 30px;
    font-weight: bold;
}
.inner{
    display: flex;
    justify-content: space-evenly;

}
.top{
    margin-top: 40px;
}
.color{
    color: grey;

}


/* this is for map data */

#box{
    height: 400px;
    width: 300px;
  }

  #box:hover{
    cursor: pointer;
    height: 420px;
    width: 320px;
  }
  #container{
        width:100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        gap: 20px;

  }

/* git finder css */
#giftFinder{
    margin-top: 5px;
    height: 580px;
    display: flex;
    justify-content: center;
    background-color: #EB416E;
    background-blend-mode: overlay;
    border: 1px solid red;
  }
  
  #giftFinderimg{
    height: 100%;
    width: 100%;
  }
  
  #giftfinderh1{
    position: absolute;
  }
  
  #giftfinderformdiv{
    margin-top: 100px;
    padding: 20px;
    height: 380px;
    width: 530px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #747373;
    background-color: rgb(255, 255, 255);
    background-blend-mode: overlay;
  }
  
  #giftfinderh1{
    font-family: Roboto;
    color: white;
    font-weight: 800;
  }
  
  #ageselect{
    padding: 15px;
    height: 50px;
    width: 490px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #4b4b4b;
  }
  
  #giftpricediv{
    margin: auto;
    width: 480px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .pricebtn{
    height: 40px;
    width: 140px;
    border-radius: 8px;
    font-family: Arial;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #212529c4;
    border: 1px solid #EB416E;
    background-color: white;
    cursor: pointer;
  
  }
  
  .pricebtn:focus{
    background-color: #E72B61;
    color: #FFFFFF;
    }
  
    #btn:hover {
      background-color: #00FA9A;
      
      }
  
  #submit{
    margin-top: 25px;
    height: 55px;
    width: 500px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: #4A9545;
    color: white;
    cursor: pointer;
  }
  
  
  #submit:hover{
    background-color: rgb(63, 247, 185);
  }
 

/* css code for top Navbar */






body{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}

#topbar{
    margin: auto;
    height: 42px;
    width: 100%;
    text-align: center;
    background-color: #E72B61;
    border: 1px solid #E72B61;
}

#carouseldiv{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: center;
}
#carouseldiv .cell{
    width: 100%;
    margin: auto;
}
#topbar .flickity-prev-next-button.previous{
    background: #E72B61;
}
#topbar .flickity-prev-next-button.next{
    background: #E72B61;
}
#topbar .flickity-prev-next-button .arrow{
    fill: white;
}
#topbar .flickity-prev-next-button{
    height: 30px;
    width: 30px;
    border: 1px solid #ec7697;
}







#navbar{
    margin: auto;
    height: 101px;
    margin-top: 0px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

#navbar ul{
    overflow: auto;
}

#navbar ul li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: -10px;
}

#navbar ul li a:hover{
    color: #E72B61;
}

.submenu{
    display: none;
    position: absolute;
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    padding: 20px;
}

#navbar ul li:hover .submenu{
    display: flex;
    flex-direction: column;
}

#navbar ul li:hover .submenu:hover{
    display: flex;
    flex-direction: column;
}

.submenu > .div1{
    height: 40px;
    width: 900px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 193, 193);
}
.submenu > .div1>p{
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 40px;
    font-weight: 800;
    margin-right: 15px;
    font-size: 18px;
    color: #E72B61;
}
.submenu > .div2{
    margin-top: 15px;
    height: 350px;
    width: 950px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid blue; */
}
.submenu > .div2 > a{
    margin: auto;
    height: fit-content;
    width: 200px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.submenu > .div2 > a:hover{
    font-size: 18px;
}
#searchbarmenu{
    height: 30px;
    width: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(155, 154, 154);
}

#searchbarmenu #searchlogo{
    margin-left: 5px;
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
}

#searchbarmenu #searchinput{
    height: 25px;
    width: 200px;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(155, 154, 154);
    /* border: 1px solid red; */
}
  

#brandlogo{
    height: 91px;
    width: 126px;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

#navbar> p:hover{
    cursor: pointer;
    color: #E72B61;
    display: block;
}

#searchbar{
    height: 45px;
    width: 350px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(155, 154, 154);
}

#searchlogo{
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

#searchinput{
    height: 30px;
    width: 300px;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(155, 154, 154);
}

#logo{
    height: 30px;
    width: 30px;
}